 <div id="sidebar-left">
    <div class="sidebar-box">
      <h3>Pages</h3>
      <ul>
        <li class="page_item">About</li>
        <li class="page_item">Contact</li>
        <li class="page_item">Forum</li>
      </ul>
    </div>
    <div class="sidebar-box">
      <h3>Categories</h3>
      <ul>
        <li class="cat-item">Blockquote</li>
        <li class="cat-item">List</li>
        <li class="cat-item">Lorem</li>
        <li class="cat-item">Post</li>
        <li class="cat-item">Simple</li>
      </ul>
    </div>
    <div class="sidebar-box">
      <h3>Meta</h3>
      <ul>
        <li>Log in</li>
        <li>Entries <abbr title="Really Simple Syndication">RSS</abbr></li>
        <li>Comments <abbr title="Really Simple Syndication">RSS</abbr></li>
        <li>WordPress.org</li>
      </ul>
    </div>
    </div>
    <div id="sidebar-right">
    <div class="sidebar-box">
      <h3>Archives</h3>
      <ul>
        <li>May 2008</li>
      </ul>
    </div>
    <div class="sidebar-box">
      <h3>Blogroll</h3>
      <ul>
        <li>Development Blog</li>
        <li>Documentation</li>
        <li>Plugins</li>
        <li>Suggest Ideas</li>
        <li>Support Forum</li>
        <li>Themes</li>
        <li>WordPress Planet</li>
      </ul>
    </div>
</div>